html, body {
    font-family: "Inter",sans-serif;
    overflow: hidden;
    text-align: center;
    background-color: #FFB6E2;
    min-height: 100vh;
}

.banner {
    background-color: #FF3797;
    color:white;
    height: 100px;
    text-align: center !important;
    width: 100vw;
    font-size: 30px;
    padding: 5px 0;
    font-weight: bold;
}

.main-image {
    width: 100vw;
    clip-path: inset(225px 0px 225px 0);
    margin-top: -225px;
    margin-bottom: -225px;
}

.button-bar {
    margin: auto;
    width: 50%;
}

.button {
    background-color: #FF3797;
    border-radius: 50px;
    width: 250px;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: 25px;
    border-color: black;
    border-style:solid;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.button:hover {
    border-style:dashed;
    opacity: .5;
}

.countdown {
    font-weight: bold;
    background-color: #B46CAF;
    color: #FFB6E2;
    font-size: 25px;
    line-height: 15px;
    padding-top: 15px;
    max-height: 100px;
    border: 2px dashed white;
    max-width: 40%;
    margin: auto;
    margin-top: 30px;
}

.title-message {
    font-weight: bold;
    color: #FF3797;
    font-size: 30px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px !important;
}